/* Flickr Images */

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, .5);
  background-color:rgba(255,255,255, 0.5);
  width: 45%;
  height: 500px;
  border-radius: 20px; 
  z-index: 1;
  overflow-y: auto;
  margin: 0 auto;
}

.imgCube {
  position: relative;
  float: left;
  width:  100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover; 
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.body {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  height: 100%;
}

.chooseBg {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  background-color: rgb(128, 128, 128, 0.8);
}

.button {
  display: inline-block;
  padding: 3px 13px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(128, 128, 128, 0.5);
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  color: black;
}

#search {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .5);
}

#clock {
  font-size: 6em;
  color: rgb(255, 255, 255); 
}

#greeting {
  font-size: 3em;
  color: rgb(255, 255, 255);
  margin-top: -1em;
}

.clockContainer {
  position: absolute;
  top: 35%;
  left: 25%;
  right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameField {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  font-weight: bolder;
  font-size: 1.5em;
  margin: 0;
  padding: 0;  
  user-select: none;
}
.navList {
  background-color:rgba(255, 255, 255, .5); 
  box-shadow: 0 2px #666;
}

a {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
}

.form {
  float: right
}

li,
li:hover {
  background-color: black;
}

li:active {
  box-shadow: 0 5px #666;
  background-color: #111;
}

/*////// Media Query ///////*/

@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  #clock {
    font-size: 3em;
    font-weight: 300;
  }

  #greeting{
    font-size: 2em;
    font-weight: 300;
  }
}

